<!DOCTYPE html>
<html>
  <head>
    <title>RailsJavascriptFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
        <input type="hidden" id="user_signed_in?" value="<%= current_user.try(:username) %>" />
      <% else %>
        <a class="login" href="/users/sign_in">Login</a>
        <a class="signup" href="/users/sign_up">Sign up</a>
      <% end %>
      <button class="go-back" onclick="javascript:history.go()">Home</button>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
