<!DOCTYPE html>
<html>
  <head>
    <title>RailsJavascriptFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if user_signed_in? %>
      <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
      <input type="hidden" id="user_signed_in?" value="<%= current_user.try(:id) %>" />
      <% Comment.all.each do |comment| %>
        <input type="hidden"  id="comment_user" value="<%= comment.user.username %>">
      <% end %>
      
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
